ion-card{
    background-color: rgb(205, 214, 219);
    ion-card-header{
        background-color: rgb(26, 99, 184);
    }
    ion-card-subtitle{
        color: azure;
        font-size: 20px;

    }
    ion-card-title{
        color: azure;
    }
}